*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer; }

p {
  display: inline; }

.home {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.body {
  flex: 1;
  display: flex;
  overflow: hidden; }

.header {
  display: flex;
  align-items: center;
  padding: 20px 40px 20px 30px;
  border-bottom: 1.5px solid #dedede; }
  .header__left {
    display: flex;
    align-items: center;
    flex: 1; }
    .header__left__logo {
      height: 24px;
      width: 22px;
      margin-right: 25px; }
    .header__left__appName {
      font-weight: 400;
      font-size: 1.2rem;
      color: #252a2e; }
  .header__right img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center top; }

.header-profile-pic {
  position: relative; }
  .header-profile-pic__img {
    cursor: pointer; }

.dropdown {
  position: absolute;
  width: 200px;
  right: 0;
  background-color: white;
  color: #252a2e;
  box-shadow: rgba(15, 15, 15, 0.15) 0px 1px 10px 1px;
  border: 1px solid #dedede;
  border-radius: 7px; }
  .dropdown__list {
    padding: 8px; }
    .dropdown__list__listItem {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: 0.2s;
      padding: 7px;
      border-radius: 7px; }
      .dropdown__list__listItem svg {
        font-size: 1.2rem; }
      .dropdown__list__listItem:hover {
        background-color: #f3f2f2; }
    .dropdown__list a {
      color: #252a2e; }

.modal {
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100; }
  .modal .changePicture {
    background-color: white;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%); }

.menu {
  min-width: 350px;
  max-width: 350px;
  border-right: 1.5px solid #dedede;
  padding: 20px; }
  .menu__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .menu__header__heading {
      font-weight: 450;
      font-size: 0.9rem;
      color: #252a2e;
      flex: 1; }
    .menu__header__newChat {
      color: #6545DE;
      font-size: 1.5rem; }
  .menu__newMsg {
    align-items: center; }

.convoItem {
  display: flex;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  transition: 0.2s;
  margin-bottom: 5px;
  max-width: 100%; }
  .convoItem:hover {
    background-color: #f3f2f2; }
  .convoItem__left__memberImages {
    margin-right: 15px;
    position: relative;
    height: 45px;
    width: 45px; }
    .convoItem__left__memberImages img {
      display: block;
      border-radius: 25%;
      width: 45px;
      height: 45px;
      object-fit: cover;
      object-position: center top; }
    .convoItem__left__memberImages__multiple img {
      position: absolute;
      border-radius: 25%;
      width: 24px;
      height: 24px;
      object-fit: cover;
      object-position: center top; }
    .convoItem__left__memberImages__multiple__1 img {
      left: 20px;
      top: 2px; }
    .convoItem__left__memberImages__multiple__2 img {
      top: 20px; }
  .convoItem__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3px; }
    .convoItem__right__header h3 {
      color: #252a2e;
      font-weight: 450;
      font-size: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 200px; }
    .convoItem__right__lastMessage {
      display: flex;
      color: #6b6b6b;
      font-weight: 400;
      font-size: 0.9rem;
      padding-bottom: 3px; }
      .convoItem__right__lastMessage__messageAndUser {
        flex: 1;
        overflow: hidden;
        width: 40px;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .convoItem__right__lastMessage__lastSent {
        font-size: 0.85rem; }
    .convoItem__right__newMsg {
      font-weight: 450;
      font-size: 0.9rem;
      color: #252a2e; }

.active {
  background-color: #f3f2f2; }

.messages {
  width: 100%;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column; }
  .messages__header {
    margin-top: 30px;
    flex: 1; }
    .messages__header h1 {
      color: #252a2e;
      font-weight: 400;
      margin-bottom: 35px; }
  .messages__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll; }
  .messages__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .messages__timeSent {
    font-size: 0.85rem;
    color: #afaeae;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px; }
  .messages__newMsg {
    margin-top: 15px; }
    .messages__newMsg__text {
      display: flex;
      color: #6545DE;
      align-items: center; }
      .messages__newMsg__text textarea {
        padding: 10px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-size: 0.9rem;
        color: #252a2e;
        border: 1px solid #d9d5ec;
        border-radius: 8px;
        flex: 1;
        padding: 10px;
        resize: none;
        margin-right: 15px;
        margin-left: 10px; }
      .messages__newMsg__text svg {
        cursor: pointer; }

.message, .messageCurrentUser {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3px; }
  .message__left, .message__right, .messageCurrentUser__left, .messageCurrentUser__right {
    border-radius: 15px; }
    .message__left img, .message__right img, .messageCurrentUser__left img, .messageCurrentUser__right img {
      border-radius: 40%;
      width: 27px;
      height: 27px;
      object-fit: cover;
      object-position: center top; }
    .message__left__text, .message__right__text, .messageCurrentUser__left__text, .messageCurrentUser__right__text {
      font-size: 0.9rem; }

.message__left {
  width: 27px;
  height: 27px;
  margin-right: 15px; }

.message__right {
  padding: 10px 17px;
  max-width: 550px;
  background-color: #f3f2f2; }

.messageCurrentUser {
  display: flex;
  flex-direction: row-reverse; }
  .messageCurrentUser__left {
    padding: 10px 17px;
    background-color: #6545DE;
    max-width: 550px; }
    .messageCurrentUser__left__text {
      color: white; }
  .messageCurrentUser__right {
    width: 27px;
    height: 27px;
    margin-left: 15px; }

.newConvo {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .newConvo .messagesNewConvo {
    flex: 1; }
  .newConvo__addUsers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #dedede; }
    .newConvo__addUsers__label {
      color: #252a2e; }
    .newConvo__addUsers__input {
      position: relative;
      flex: 1;
      height: 31px; }
      .newConvo__addUsers__input input {
        width: 100%;
        height: 100%;
        font-size: 0.9rem;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        color: #252a2e;
        border: none; }
        .newConvo__addUsers__input input:focus {
          outline: 0; }
      .newConvo__addUsers__input__dropdown {
        position: absolute;
        background-color: white;
        padding: 8px;
        border-radius: 7px;
        width: 300px;
        box-shadow: rgba(15, 15, 15, 0.2) 0px 2px 10px 1px;
        border: 1px solid #dedede; }
        .newConvo__addUsers__input__dropdown .user {
          display: flex;
          gap: 10px;
          align-items: center;
          transition: 0.2s;
          padding: 7px;
          border-radius: 7px;
          cursor: pointer; }
          .newConvo__addUsers__input__dropdown .user img {
            border-radius: 25%;
            width: 45px;
            height: 45px;
            object-fit: cover;
            object-position: center top; }
          .newConvo__addUsers__input__dropdown .user:hover {
            background-color: #f3f2f2; }
        .newConvo__addUsers__input__dropdown:empty {
          opacity: 0; }
    .newConvo__addUsers__user {
      background-color: #dfd7fc;
      color: #6545DE;
      padding: 7px;
      border-radius: 5px;
      font-size: 0.9rem; }
      .newConvo__addUsers__user p {
        margin-right: 10px; }
      .newConvo__addUsers__user span {
        cursor: pointer; }

.auth {
  display: flex;
  height: 100vh;
  overflow: hidden; }
  .auth__preview {
    width: 50%;
    background-color: #dfddee; }
    .auth__preview__text {
      padding: 60px 0px 0px 50px;
      width: 400px; }
      .auth__preview__text h1 {
        font-weight: 400;
        color: #252a2e;
        margin-bottom: 10px; }
      .auth__preview__text p {
        color: #252a2e;
        font-weight: 300;
        font-size: 0.9rem; }
    .auth__preview__image {
      position: relative; }
      .auth__preview__image img {
        max-width: 100%; }
      .auth__preview__image:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, #dfddee, rgba(255, 255, 255, 0) 90%);
        width: 100%;
        height: 4em; }
  .auth__authForm {
    padding: 150px 100px;
    color: #252a2e;
    width: 50%; }
    .auth__authForm h1 {
      font-weight: 400;
      margin-bottom: 35px; }
    .auth__authForm label {
      font-size: 0.9rem; }
    .auth__authForm input[type=email], .auth__authForm [type=password], .auth__authForm [type=text] {
      margin-top: 5px;
      margin-bottom: 15px;
      padding: 10px;
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 0.9rem;
      color: #252a2e;
      border: 1px solid #d9d5ec;
      border-radius: 8px;
      width: 100%; }
    .auth__authForm input[type=submit] {
      border: none;
      background-color: #6545DE;
      width: 100%;
      padding: 10px;
      color: white;
      border-radius: 8px;
      margin-top: 5px;
      cursor: pointer; }
    .auth__authForm .link {
      color: #252a2e;
      font-size: 0.9rem;
      margin-top: 10px;
      display: inline-block; }
      .auth__authForm .link a {
        color: #6545DE; }
        .auth__authForm .link a:hover {
          text-decoration: underline; }
    .auth__authForm__password-input {
      position: relative; }
      .auth__authForm__password-input .visibility-btn {
        position: absolute;
        cursor: pointer;
        top: 11px;
        right: 10px; }
      .auth__authForm__password-input input {
        margin-right: 10px; }

@media (max-width: 900px) {
  .menu {
    min-width: 100px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu__header__heading {
      margin-right: 10px; }
    .menu .convoItem {
      max-width: none; }
      .menu .convoItem__left__memberImages {
        margin-right: 0px; }
      .menu .convoItem__right {
        display: none; } }

@media (max-width: 460px) {
  .newConvo__addUsers__input {
    position: static; }
    .newConvo__addUsers__input__dropdown {
      left: 40px; } }

@media (max-width: 800px) {
  .auth__preview {
    display: none; }
  .auth__authForm {
    width: 100%; } }

@media (max-width: 500px) {
  .auth__authForm {
    padding: 150px 50px; } }
