@media (max-width: 900px) {

    // Menu
    .menu {
        min-width: 100px;
        max-width: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &__header {
            &__heading {
                margin-right: 10px;
            }
        }

        .convoItem {
            max-width: none;
            &__left {
                &__memberImages {
                    margin-right: 0px;
                }
            }

            &__right {
                display: none;
            }
        }
    }
}

@media (max-width: 460px) {
    .newConvo {
        &__addUsers {
            &__input {
                position: static;

                &__dropdown {
                    left: 40px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .auth {
        &__preview {
            display: none;
        }

        &__authForm {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .auth {
        &__authForm {
            padding: 150px 50px;
        }
    }
}