.convoItem {
    display: flex;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    transition: 0.2s;
    margin-bottom: 5px;
    max-width: 100%;

    &:hover {
        background-color: $hover;
    }

    &__left {
        &__memberImages {
            margin-right: 15px;
            position: relative;
            width: 45px;
            
            img {
                display: block;
                @include profileImg(25%, 45px)
            }

            &__multiple {
                img {
                    position: absolute;
                    @include profileImg(25%, 24px)
                }

                &__1 {
                    img {
                        left: 20px;
                    }
                }

                &__2 {
                    img {
                        top: 18px;
                    }
                }
            }
        }
    }

    &__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 3px;

        &__header {

            h3 {
                color: $dark-grey;
                font-weight: 450;
                font-size: 0.9rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 200px;
            }
        }

        &__lastMessage {
            display: flex;
            color: $med-grey;
            font-weight: 400;
            font-size: 0.9rem;
            padding-bottom: 3px;

            &__messageAndUser {
                flex: 1;
                overflow: hidden;
                width: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &__lastSent {
                font-size: 0.85rem;
            }
        }

        &__newMsg {
            font-weight: 450;
            font-size: 0.9rem;
            color: $dark-grey;
        }
    }
}

.active {
    background-color: $hover;
}