.messages {
    width: 100%;
    overflow: scroll;
    padding: 30px;

    &__header {
        h1 {
            color: $dark-grey;
            font-weight: 400;
            margin-bottom: 35px;
        }
    }

    &__timeSent {
        font-size: 0.85rem;
        color: $light-grey;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}