.messages {
    width: 100%;
    padding: 0px 30px 30px 30px;

    display: flex;
    flex-direction: column;

    &__header {
        margin-top: 30px;
        flex: 1;
        
        h1 {
            color: $dark-grey;
            font-weight: 400;
            margin-bottom: 35px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: scroll;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__timeSent {
        font-size: 0.85rem;
        color: $light-grey;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    // New message
    &__newMsg {
        margin-top: 15px;

        &__text {
            display: flex;
            color: $purple;
            align-items: center;

            textarea {
                flex: 1;
                padding: 10px;
                resize: none;

                font-family: "Helvetica Neue", $back-up-fonts;
                font-size: 0.9rem;
                color: $dark-grey;

                border: 1px solid $lavendar;
                border-radius: 8px;

                margin-right: 15px;
                margin-left: 10px;
            }

            svg {
                cursor: pointer;
            }
        }
    }
}